C_COMPILER=gcc
GENERATOR="Unix Makefiles"
ATDIRECTORY_HOST=root.atsign.org
ATDIRECTORY_PORT=0
FIRST_ATSIGN=""
FIRST_ATSIGN_ATSERVER_HOST=""
FIRST_ATSIGN_ATSERVER_PORT=0
SECOND_ATSIGN=""
SECOND_ATSIGN_ATSERVER_HOST=""
SECOND_ATSIGN_ATSERVER_PORT=0
