name: Unit Tests
on:
  workflow_dispatch:
  push:
    branches: [trunk]
  pull_request:
    branches: [trunk]

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Install AtChops
        working-directory: packages/atchops
        run: |
          cmake -S . -B build -DATCHOPS_BUILD_TESTS=ON -DATCHOPS_FETCH_MBEDTLS=ON
          sudo cmake --build build --target install

      - name: CTest AtChops
        working-directory: packages/atchops/build/tests
        run: |
          ctest -V --output-on-failure --timeout 2

      - name: Install AtClient
        working-directory: packages/atclient
        run: |
          cmake -S . -B build -DATCLIENT_BUILD_TESTS=ON -DATCLIENT_FETCH_ATCHOPS=OFF -DATCLIENT_FETCH_MBEDTLS=ON
          sudo cmake --build build --target install

      - name: CTest AtClient
        working-directory: packages/atclient/build/tests
        run: |
          ctest -V --output-on-failure --timeout 2
