name: Unit Tests
on:
  workflow_dispatch:
  push:
    branches: [trunk]
  pull_request:
    branches: [trunk]

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  unit-tests:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - name: atchops CTest
        working-directory: packages/atchops/tools
        run: |
          ./run_ctest.sh

      - name: atclient CTest
        working-directory: packages/atclient/tools
        run: |
          ./run_ctest.sh
